.texto-grande {
  font-size: 64px;
  line-height: 1.225;
  font-family: "Poppins";
  font-weight: bold;
}

.texto-medio {
  font-size: 24px;
  line-height: 1.5;
  font-family: "Roboto";
  font-weight: 400;
}
